# استثناء ملفات السجلات (Logs)
logs/

# استثناء ملفات الكاش الخاصة بـ Python
__pycache__/
*.pyc

# استثناء قواعد البيانات المحلية (إذا كنت لا تريد رفعها)
*.db
bank_data.db

# استثناء موديلات الذكاء الاصطناعي (اختياري، يفضل رفعها إذا كان حجمها صغيراً)
# *.pkl